.box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    line-height: 300px; /* Sneaky vertical centering */
}

.block {
    display: block;
}

.inline {
    /* Cannot set width or height or margins */
    display: inline;
}

.inline-block {
    display: inline-block; /* So long float, you piece of garbage */
}

.none {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}

.spooky {
}

/* Descendents selector */
.spooky span {
    visibility: hidden;
}

.spooky:hover {
    background-color: black;
}

.spooky:hover span {
    transition: 2s all;
    color: yellow;
    visibility: visible;
}