<div>
    <h2>This is the page of {{actor.name}}</h2>
    <h3>The Star Wars character this actor plays is {{actor.character}}</h3>
    <img src="/images/{{actor._id}}.jpg">
    <a href="/actors/edit/{{actor._id}}">Edit</a>
</div>